.app
    display table
    table-layout fixed
    width 100%
    height 100%

.app__sidebar
    display table-cell
    vertical-align top
    width: rem(230px)
    background:$color-bg-sidebar

.app__main
    display table-cell
    vertical-align top
    margin:0 0 0 rem(230px)

.app__content
    padding: rem(25px)

iframe
    display none    


