.app__sidebar
    background:$color-bg-sidebar
    padding 0 0 rem(30px)
    width rem(230px)

    .filters
        display block
        width:50%;
        font-size: rem(16px)
        margin 0 auto rem(20px)

.app__content
    padding: rem(25px)

iframe
    display none


@media screen and (max-width: $breakpoint - 1)
    .app__sidebar
        position fixed
        left -230px
        top 0
        bottom 0
        z-index 2
        overflow-x: auto

@media screen and (min-width: $breakpoint)
    .app
        display table
        table-layout fixed
        width 100%
        height 100%

    .app__sidebar
        display table-cell
        vertical-align top
        padding 0

    .app__main
        display table-cell
        vertical-align top
        margin:0 0 0 rem(230px)