.app
    // display:flex
    // align-items:stretch
    //min-height:calc(100% - 61px) //for login form
    // min-height: 100%;

.app__sidebar
    //flex: 1
    //padding: rem(10px) 0
    position fixed
    left: 0
    top: 0
    bottom: 0
    width: rem(230px)
    background:$color-bg-sidebar
    //border-right:1px solid $color-border-light

.app__main
    //flex: 5
    //height:100% //for login form
    //margin: rem(10px) 0 0
    margin:0 0 0 rem(230px)
    //border-radius: rem(4px) 0 0;

.app__content
    padding: rem(25px)

iframe
    display none    


