.header
    display block
    background $secondary-color
    color $color-white
    height rem(85px)
    padding:rem(23px);
    position relative

    .btn-menu
        position absolute
        left rem(20px)
        top 50%
        transform(translate(0, -50%))

.header__title
    margin 0
    text-align center
    font-size rem(25px)
    transition(opacity 200ms ease-out)

.logo
    color: $color-font
    display: block
    font-size: rem(21px)
    font-weight: 700
    padding: rem(5px)
    margin: 0 0 rem(30px)
    text-align: center
    // background: $color-primary
    background $secondary-color
    height: rem(85px)
    line-height: 3.5
    color: $color-white

    img
        vertical-align middle

    &:hover,
    &:focus
        color $color-white
        background lighten($secondary-color, 5)