// #header
//     padding: 1em 1.5em
//     //background: $color-white
//     //border-bottom:1px solid $color-border
    
//     a:first-child
//         //color: $color-font
//         font-weight: 700
//         font-size: rem(21px)

//     .logout
//         float: right
//         font-size:rem(14px)
//         margin:rem(3px) 0 0

//     .btn
//         margin: rem(-2px) rem(10px) 0 0

.logo
    color: $color-font
    display: block
    font-size: rem(21px)
    font-weight: 700
    padding: rem(5px)
    margin: 0 0 rem(30px)
    text-align: center
    // background: $color-primary
    background $secondary-color
    height: rem(85px)
    line-height: 3.5
    color: $color-white

    img
        vertical-align middle

    &:hover,
    &:focus
        color $color-white
        background lighten($secondary-color, 5)