extends layout

block content

  include toolbar/toolbar

  div.app__content

    -if (typeof(bookmarks) != 'undefined' && bookmarks.length)
      h1.heading-1 Latest
      ul.list.list--large
        -each bookmark in bookmarks
          li.media
            include bookmark/_item

    - else
      section
        h1.heading-1 Welcome on Bookmarks!
        p You did not add bookmark
        a.btn(href="/bookmark/new") Add a bookmark
