doctype html
html
  head
    title= 'Bookmarks'
    meta(name='robots', content='noindex,nofollow')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')
    link(rel='shortcut icon' href='/images/favicon.ico?v=2')

  body(id="tpl-connect")

    block content