div.toolbar.clearfix
    form(action="/search", method="get").pull-left.form.form--search
        div.form__item
            input(type="text", placeholder='Search', name="term", class='form__field--text')

    a.pull-right.btn(href="/bookmark/new") New bookmark