div.pager

    -if(pager.page > 1)
        - var url = pager.baseUrl + '?page=' + (pager.page - 1);
        - if (term) { url += "&term=" + term; }
        a.pager__item.pager__item--prev(href="#{url}") &laquo;

    span #{pager.page} / #{pager.total}

    -if(pager.page < pager.total)
        - var url = pager.baseUrl + '?page=' + (pager.page + 1);
        - if (term) { url += "&term=" + term; }
        a.pager__item.pager__item--next(href="#{url}") &raquo;
