extends ../layout-disconnected

block content

  div.box--table
    div
      div.box.box--white.box--middle.box--logo
        img(src="images/bookmarks.svg", alt="Bookmarks", class="logo-svg", width="60")
        h1.heading= title
        
        include form/login

        div 
          a(href="forgotten-password") Forgotten password ?
