@import 'variables';
@import 'functions/rem';
@import 'mixins/*';

@import 'helpers/_reset';

*,
*:after,
*:before
    -moz-box-sizing: border-box
    box-sizing: border-box

html,
body 
    height:100%

body
    margin: 0
    padding: 0
    font: $base-font 'Open Sans', sans-serif
    background: $color-bg
    color: $color-font
    min-width 320px
    
.wrapper
    height 100%
    transition(all 400ms ease)

.wrapper__inner
    height 100%

.is-sidebar-open

    .wrapper
        transform(translate(rem(230px), 0))
        
    .wrapper__inner
        overflow: hidden

    .header__title
        opacity 0
        

a
    color: $color-primary
    text-decoration: none

    &:hover,
    &:focus
        color: $color-primary-hover

ul
    list-style-type:none
    margin:0
    padding:0


section
    + section
        margin: rem(60px) 0 0

/*
    Specifics
*/
#tpl-connect
    background $color-bg-toolbar

@import 'helpers/*';
@import 'layout/_header';
@import 'layout/_app-grid';
@import 'components/*';
