*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 16px 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
}
a {
  color: #50a8e2;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #4495ca;
}
.clearfix:before,
.clearfix:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.clearfix:after {
  clear: both;
}
.align-right {
  text-align: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.picture {
  display: block;
}
section + section {
  margin: 3.75rem 0 0;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
/*
    Specifics
*/
#tpl-connect {
  background: #e8e8e8;
}
.logo {
  color: #333;
  display: block;
  font-size: 1.3125rem;
  font-weight: 700;
  padding: 0.3125rem;
  margin: 0 0 0.625rem;
  text-align: center;
}
.logo img {
  opacity: 0;
}
.logo:hover,
.logo:focus {
  color: #1a1a1a;
}
.app__sidebar {
  padding: 0.625rem 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 14.375rem;
  background: #26282e;
}
.app__main {
  margin: 0 0 0 14.375rem;
}
.app__content {
  padding: 1.5625rem;
}
iframe {
  display: none;
}
.box .heading {
  font-size: 1.75rem;
  margin: 0 0 1.25rem;
  line-height: 1.2;
}
.box--white {
  padding: 1.875rem;
  background: #fff;
  border: 1px solid #aeb3b7;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 4px rgba(136,136,136,0.2);
}
.box--white .logo-svg {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.box--logo {
  padding-top: 2.5rem;
}
.box--middle {
  max-width: 400px;
}
.box--table {
  display: table;
  width: 100%;
  height: 100%;
}
.box--table > div {
  display: table-cell;
  vertical-align: middle;
}
.btn {
  background: #50a8e2;
  display: inline-block;
  padding: 0.4375rem 0.625rem 0.5625rem;
  font: 0.875rem 'Open Sans', sans-serif;
  color: #fff;
  border-radius: 2px;
}
.btn:hover,
.btn:focus {
  background: #4495ca;
  color: #fff;
}
.btn--l {
  display: block;
  padding: 0.625rem 0.625rem 0.75rem;
  margin: 0 auto;
  text-align: center;
  max-width: 9.0625rem;
}
.btn--secondary {
  background: #3a3e48;
}
.btn--secondary:hover,
.btn--secondary:focus {
  background: #454a56;
}
.form label {
  font-size: 1rem;
  display: block;
  margin: 0 0 0.625rem;
}
.form .heading-1 {
  text-transform: none;
}
.form textarea {
  resize: vertical;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
fieldset .label {
  margin: 0 0 0.5rem;
}
fieldset .form__field--checkbox {
  margin: 0 0 0 0.625rem;
}
.form__item {
  margin: 0 0 1.25rem;
}
.form__field--text {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.625rem;
  margin: 0;
  border: 1px solid #aeb3b7;
  font: 0.75rem 'Open Sans', sans-serif;
  display: block;
  width: 100%;
  outline: none;
}
.form__field--text:focus {
  border-color: #95a5a6;
}
.form__submit input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  margin: 0;
  cursor: pointer;
  outline: none;
}
.form__field--checkbox input {
  float: left;
  margin: 0.3125rem;
}
.form--bookmark {
  max-width: 40%;
  min-width: 25rem;
}
.form--search .form__item {
  margin: 0;
}
.form--search .form__field--text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.list--large .heading {
  display: block;
}
.list--large > li {
  position: relative;
  padding: 1.25rem 0;
}
.list--large > li + li {
  border-top: 1px solid #e7ebee;
}
.list--large > li:first-child {
  padding-top: 0.625rem;
}
.list--large > li:hover .media__actions {
  visibility: visible;
}
.list--large .media__actions {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  visibility: hidden;
}
.list--tags li {
  display: inline-block;
}
.list--tags li + li {
  margin: 0 0 0 0.3125rem;
}
.list--filters {
  margin: 0 0 3.125rem;
  text-transform: capitalize;
}
.list--filters li + li {
  border-top: 1px solid #3a3e48;
}
.list--filters a {
  padding: 0.625rem 1.5625rem 0.8125rem;
  display: block;
  color: #989dac;
}
.list--filters a:hover,
.list--filters a:focus {
  color: #fff;
}
.list--filters .is-active a {
  background: #1e2025;
  color: #fff;
  box-shadow: inset 2px 0 0 0 #50a8e2;
}
.media {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.media > div {
  display: table-cell;
  vertical-align: top;
}
.media .list--tags {
  margin: 0.625rem 0 0;
}
.media__picture {
  padding: 0 0.9375rem 0 0;
  width: 10.3125rem;
}
.media__picture a {
  display: block;
}
.media__picture a:hover {
  opacity: 0.9;
}
.media__text {
  padding: 0.3125rem 6.25rem 0.9375rem 0;
}
.media__note {
  font-size: 0.875rem;
  margin: 0.3125rem 0 0;
}
.media__actions {
  font-size: 0.8125rem;
}
.media__actions li {
  display: inline-block;
}
.media__actions li + li {
  margin-left: 0.3125rem;
}
.media__actions a {
  color: #aeb3b7;
}
.media__actions a:hover {
  color: inherit;
}
.toolbar {
  padding: 1.5625rem;
  background: #e8e8e8;
}
.toolbar .form--search {
  width: 12.5rem;
}
.heading-1 {
  font-size: 1.5625rem;
  margin: 0 0 0.9375rem;
  font-weight: normal;
  text-transform: capitalize;
}
.heading-2 {
  font-size: 1.25rem;
  margin: 0;
  font-weight: normal;
}
.heading-ib {
  display: inline-block;
  margin-right: 0.9375rem;
}
.more {
  font-size: 0.8125rem;
}
.tag {
  display: inline-block;
  font-size: 0.8125rem;
  padding: 0.125rem 0.3125rem 0.25rem;
  background: #50a8e2;
  color: #fff;
}
.tag:hover {
  background: #2492db;
  color: #fff;
}
.status {
  border: 2px solid #333;
  padding: 0.625rem;
  font-size: 0.875rem;
  color: #fff;
  margin: 0 0 1.25rem;
}
.status--error {
  border-color: #e11010;
  background: #f45252;
}
.status--success {
  border-color: #41b502;
  background: #6fc95a;
}
