@import 'variables';
@import 'functions/rem';
@import 'mixins/*';


*,
*:after,
*:before
    -moz-box-sizing: border-box
    box-sizing: border-box

html,
body 
    height:100%

body
    margin: 0
    padding: 0
    font: $base-font 'Open Sans', sans-serif
    background: $color-bg
    color: $color-font

a
    color: $color-primary
    text-decoration: none

    &:hover,
    &:focus
        color: $color-primary-hover

ul
    list-style-type:none
    margin:0
    padding:0


section
    + section
        margin: rem(60px) 0 0

/*
    Specifics
*/
#tpl-connect
    background $color-bg-toolbar

@import 'helpers/*';
@import 'layout/_header';
@import 'layout/_app-grid';
@import 'components/*';
