$base-font = 16px;

//$color-bg = #ecf0f1;
//$color-bg = #e8e8e8;
$color-bg = #fff;
$color-bg-sidebar = #26282e;
$color-bg-toolbar = #e8e8e8;

//$color-primary = #3498db;
$color-primary = #50a8e2;
$color-primary-hover= #4495CA;
$secondary-color = #3A3E48;
$color-header = #2c3e50;
$color-white = #fff;
$color-font = #333;
$color-nav = #989dac;
$color-bg-nav-active = #1e2025;

//$color-border = #bdc3c7;
$color-border = #aeb3b7;
$color-border-focus = #95a5a6;
$color-border-light = #d8dee3;

$color-error = #FA2121;