.btn
    background: $color-primary
    display: inline-block
    padding: rem(7) rem(10) rem(9)
    font: rem(14) 'Open Sans', sans-serif
    color: $color-white
    border-radius: 2px

    &:hover,
    &:focus
        background: $color-primary-hover
        color: $color-white

.btn--l
    display: block
    padding: rem(10) rem(10) rem(12)
    margin: 0  auto
    text-align: center
    max-width:rem(145) 