.btn
    background: $color-primary
    display: inline-block
    padding: rem(7) rem(10) rem(9)
    font: rem(14) 'Open Sans', sans-serif
    color: $color-white
    border-radius: 2px

    &:hover,
    &:focus
        background: $color-primary-hover
        color: $color-white

.btn--l
    display: block
    padding: rem(10) rem(10) rem(12)
    margin: 0  auto
    text-align: center
    max-width:rem(145) 

.btn--secondary
    background: $secondary-color

    &:hover,
    &:focus
        background: lighten($secondary-color, 5)

.btn-menu
    $h= 36px;
    width rem(40px)
    height rem($h)
    border none
    position relative
    padding 5px
    background none
    outline none

    span
        transition(opacity 250ms ease-out)

    &:before,
    &:after,    
    span
        display block
        border-top 4px solid $color-white

    &:before,
    &:after
        content:''
        position absolute
        left 5px
        right 5px
        transition(all 250ms ease-out)

    &:before
        top 7px

    &:after
        bottom 7px

    .is-sidebar-open &
        span
            opacity 0
        
        &:before
            transform(translate(0, $h/4) rotate(45deg))

        &:after
            transform(translate(0, ($h/4*-1)) rotate(-45deg))


