.list--large
    
    .heading
        display:block

    > li
        position: relative
        padding: rem(20px) 0
        
        + li
            border-top:1px solid lighten($color-border-light, 5)

        &:first-child {
            padding-top:rem(10px)
        }

        &:hover
            .media__actions
                visibility: visible

    .media__actions
        position: absolute
        top: rem(10px)
        right: rem(10px)
        visibility: hidden


.list--tags
    li
        display: inline-block

        + li
            margin: 0 0 0 rem(5px)

.list--filters 
    margin: 0 0 rem(50px)
    text-transform: capitalize

    li + li 
        border-top: 1px solid $secondary-color

    a
        padding: rem(10px) rem(25px) rem(13px)
        display: block
        color: $color-nav

        &:hover,
        &:focus
            color:$color-white

    .is-active
        a
            background: $color-bg-nav-active
            color: $color-white
            box-shadow: inset 2px 0 0 0 $color-primary
