.pager
    margin: rem(20px) 0 0
    padding: rem(40px) 0 0
    text-align center
    border-top: 1px solid $color-border-light
    span
        font-size:rem(14px)

.pager__item
    display: inline-block
    padding:3px 10px 5px;
    line-height: 1;
    background: $color-bg-toolbar
    color: $color-font
    font-size: rem(20px)
    vertical-align: middle
    border-radius: 2px
    position: relative
    top: -1px

    &:hover,
    &:focus
        // background:$color-primary-hover;
        background:darken($color-bg-toolbar, 5);
        // color: $color-white

.pager__item--next
    margin-left: 15px

.pager__item--prev
    margin-right: 15px
