.pager
    margin: rem(20px) 0 0
    padding: rem(20px) 0 0
    border-top: 1px solid $color-border-light
    span
        font-size:rem(14px)

.pager__item
    display: inline-block
    padding:2px 10px 5px;
    line-height: 1;
    background: $color-primary
    color: $color-white
    font-size: rem(20px)
    vertical-align: middle
    border-radius: 2px
    position: relative
    top: -1px

    &:hover,
    &:focus
        background:$color-primary-hover;
        color: $color-white

.pager__item--next
    margin-left: 15px

.pager__item--prev
    margin-right: 15px