.toolbar
    padding: rem(25px)
    background: $color-bg-toolbar = #e8e8e8;

    .form--search
        width: rem(200)

@media screen and (max-width: $breakpoint)
    .toolbar
        text-align center;

        .pull-left,
        .pull-right
            float none

        .form--search
            margin: 0 auto rem(20px)