.heading-1 {
    font-size: rem(25px)
    margin: 0 0 rem(15px)
    font-weight:normal
    text-transform:capitalize
}

.heading-2 {
    font-size: rem(20px)
    margin: 0
    font-weight:normal
}

.heading-ib 
    display: inline-block
    margin-right: rem(15px)

.more
    font-size:rem(13px)

.tag
    display: inline-block
    font-size: rem(13px)
    padding: rem(2px) rem(5px) rem(4px)
    background: $color-primary
    color: $color-white

    &:hover
        background: darken($color-primary, 10)
        color: $color-white

.status
    border:2px solid $color-font
    padding: rem(10)
    font-size: rem(14)
    color: $color-white
    margin:0 0 rem(20)

.status--error 
    border-color:#E11010
    background: #F45252

.status--success 
    border-color:#41B502
    background: #6FC95A