.clearfix:before,
.clearfix:after
    content: " "; /* 1 */
    display: table; /* 2 */

.clearfix:after
    clear: both;

.pull-right
    float: right

.pull-left
    float: left

.picture
    display: block

.align-right
    text-align: right

.mt-hide
    display none

@media screen and (min-width: $breakpoint)
    .mt-only
        display: none !important

    .mt-hide
        display block