form(method='POST', action='/reset', class='form')

  div.form__item
    label(for='password') Password
    input(type='password', id='password', name='password', class='form__field--text')

  div.form__item
    label(for='passwordConfirm') Password Confirm
    input(type='password', id='passwordConfirm', name='passwordConfirm', class='form__field--text')
  

  div.form__submit.align-right
    input(type="hidden", name="user_id", value="#{user._id}")
    input(type="hidden", name="_method", value="PUT")
    input(type='submit', class='btn', value='Send')
